@import url(./modalHeader.css);
@import url(./modalIdentificacao.css);
@import url(./modalCardStats.css);
@import url(./modalDesc.css);
@import url(./modalEvo.css);
@import url(./modalRangeInput.css);

.modal__container {
    border: none;
    height: auto;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    width: auto;
}
